@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  /* border: 1px solid yellow; */
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  max-width: 1000px;
  padding-top: 50px;
  border-bottom: solid 1px #c3c3c3;
  margin: 0 auto;
  /* border: 1px solid red; */
}

nav {
  display: flex;
  justify-content: space-between;
  /* 横スクロールできる範囲がおおきくなるようline-heightを
    設定しています。 */
  line-height: 80px;
}

nav .menu,
nav .login {
  display: flex;
}

nav .menu li {
  margin-right: 15px;
}

nav .login li {
  margin-left: 15px;
}

/*-------------------------------------------
商品ページ
-------------------------------------------*/

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 100px;
}

.item .item-image {
  width: 50%;
  margin-right: 50px;
}

.item .item-image img {
  width: 100%;
}

.item .item-info {
  width: 50%;
}

.item .item-info p {
  margin-bottom: 30px;
}

.item .item-info .item-title {
  height: 60px;
  line-height: 60px;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  /* 隣同士のボーダーを重ねる */
  border-collapse: collapse;
}

.order-table {
  width: 100%;
  margin-bottom: 20px;
}

.order-table .color,
.order-table .size {
  width: 20%;
}

.order-table .quantity {
  width: 60%;
}

.order-table td {
  border-bottom: solid 1px #c3c3c3;
}

.order-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  text-align: center;
}

.order-table td:last-child {
  border-right: none;
}

.order-table tr:last-child td {
  border-bottom: none;
}

/*
appearance: menulist;
セレクトボックスに右端の矢印を表示
  */

.order-table select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
  appearance: menulist;
}

.cart-btn {
  background-color: #4b4b4b;
  color: #fff;
  display: block;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}

.size-table {
  width: 100%;
}

.size-table .size {
  width: 16%;
}

.size-table .chest,
.size-table .weist,
.size-table .height {
  width: 28%;
}

.size-table th {
  background-color: #ecebeb;
}

.size-table th,
.size-table td {
  font-weight: normal;
  padding: 10px;
  border: solid 1px #c3c3c3;
  text-align: center;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
  padding: 10px 0;
}

footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media (max-width: 900px) {
  .site-title {
    margin-bottom: 25px;
  }

  /*-------------------------------------------
    ヘッダー
    -------------------------------------------*/
  header {
    margin-bottom: 0;
    border-bottom: none;
    padding: 30px 4% 0;
  }
  /*
    横スクロールできるようにする
    */
  nav {
    overflow-x: scroll;
  }

  /*-------------------------------------------
    商品ページ
    -------------------------------------------*/
  .item {
    flex-direction: column;
  }
  .item .item-image {
    width: 100%;
    margin-bottom: 10px;
  }
  .item .item-info {
    padding: 0 3%;
    width: 100%;
  }
}
